@model Permission_Based_Authorization.Models.AddUserViewModel

<form asp-action="CreateUser" asp-controller="Users" method="POST">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h2>Basic user info.</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label asp-for="FullName">Full Name</label>
                    <input type="text" asp-for="FullName" placeholder="Full Name" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Username">Username</label>
                    <input type="text" asp-for="Username" placeholder="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Email">Email</label>
                    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="ConfirmPassword">Confirm password</label>
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <a asp-area="" asp-controller="Users" asp-action="Index" class="btn btn-secondary me-1 ms-0">Back</a>
            <button type="submit" class="btn btn-success me-0 ms-1">Save</button>
        </div>
    </div>
</form>